<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Message: <%= message.mess %>
    </h3>
    <h4>Ký văn bản</h4>
    <form action="/sign" method="post" enctype="multipart/form-data">
        <label for=" sign">Tải file</label><br>
        <a href="<%=signature.sign%>" download>Download</a><br>
        <label for=" file_sign">Tải file lên</label>
        <input type="file" name="file_sign"><br>
        <input type="submit" value="Ký">
    </form>
    <h4>Xác thực chữ ký</h4>
    <form action="/verify" method="post" enctype="multipart/form-data">
        <label for="file_sign">Tải file lên</label>
        <input type="file" name="file_sign"><br>
        <input type="submit" value="Xác thực">
    </form>
</body>

</html>